.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px;
  width: 350px;
  margin-top: 50px;
}

.contentText {
  text-align: center;
}

.dark {
  border: 2px solid white;
}

.light {
  border: 2px solid #282c34;
}
