.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px 70px;
}

.dark {
  border: 2px solid white;
}

.light {
  border: 2px solid #282c34;
}
