.modalBackdrop {
  background: #000000a6;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  width: 460px;
}

.modalWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.modalContentColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.light {
  background: white;
  color: black;
}

.dark {
  background: #282c34;
  color: white;
}
