.darkMode {
  background: transparent url("../../../assets/reactHeart.svg") no-repeat center;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.darkMode:hover,
.darkMode:focus {
  filter: none;
  background-color: transparent;
  cursor: pointer;
}

.darkMode.clicked {
  filter: none !important;
  background-color: transparent;
}

.light {
  filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(1248%)
    hue-rotate(314deg);
}

.dark {
  filter: brightness(0) saturate(100%) invert(74%) sepia(76%) saturate(358%)
    hue-rotate(174deg);
}
