.settingsButton {
  position: absolute;
  top: 55px;
  right: 35px;
  margin-top: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  transition: transform 200ms;
  cursor: pointer;
}

.settingsButton:hover {
  transition: transform 200ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.light {
  color: #e91e63;
}

.dark {
  color: #61dafb;
}
