.progressBar {
  width: 100%;
  background: transparent;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.light {
  border: 2px solid #e91e63;
}

.dark {
  border: 2px solid #75f8e2;
}

.progressBar .inner {
  background: #6ad85c;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: ease all 0.5s;
}

.progressBar .text {
  font-size: 11px;
  position: absolute;
  z-index: 3;
}
