.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-height: 90svh;
  padding: 18px;
  gap: 18px;
  font-family: "Audiowide", sans-serif;
}

.miniCountdown {
  position: absolute;
  top: 30px;
  margin-top: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
