.highscoreWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px;
  width: 330px;
}

.dark {
  border: 2px solid white;
}

.light {
  border: 2px solid #282c34;
}

.highScore {
  user-select: none;
  border-bottom: 2px solid #75f8e2;
}

.highscoreList {
  margin-top: 10px;
}

.highscoreEntry {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 8px;
  margin-bottom: 5px;
  border: 2px solid #75f8e2;
  font-size: 14px;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rank {
  font-weight: bold;
  min-width: 20px;
}

.score {
  font-weight: bold;
}

.dark {
  color: white;
}
.light {
  color: #000;
}
